<div id="available-things" v-cloak>

  <div class="container">  
    <h1>Things</h1>
    <p>View available items to borrow, or upload your own things.</p>
    <button>TODO</button>
  <div class="row" >
      <div v-for="thing in things" >
        <div class = "col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ thing.label }}</h5>
              <p class="card-text">{{ thing.owner.fullName }}</p>
              <button href="#" class="btn btn-primary" @click="clickThing(thing.id)">Remove</button>
            </div>
          </div>
      </div>
    </div>
    </ul>
  </div>
    <!--   <h1>TODO: Implement this page.</h1>
    <p>(See also <em>assets/styles/pages/things/available-things.less</em>, <em>assets/js/pages/things/available-things.page.js</em>, and <em>api/controllers/things/view-available-things.js</em>.)</p>  -->
  </div>

</div>



<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>