<div id="available-things" v-cloak>
  <div class="container">
    <div class="page-header">
      <h1>Things</h1>
      <h2>View available items to borrow, or upload your own things.</h2>
      <button class="btn btn-primary">Add an item</button>
    </div>
    <div class="listings" v-if="things.length > 0">
      <div class="card" v-for="thing in things">
        <div class="card-body">
          <h5 class="card-title">{{ thing.label }}
              <span class="options-button" data-toggle="tooltip" data-placement="top" title="Delete" @click="clickDeleteThing(thing.id)" v-if="thing.owner.id === me.id"><span class="fa fa-trash-o text-danger"></span></span>
          </h5>
          <p class="card-text"><!-- {{ thing.owner.fullName }}  -->
              <small class="owner text-secondary" v-if="thing.owner.id === me.id"><span class="fa fa-home mr-1"></span> Mine</small>
              <small class="owner text-primary" v-else>{{thing.owner.fullName}}</small>
          </p>
          
<!--           <button class="btn btn-primary" @click="clickThing(thing.id)">
            Remove
          </button> -->
        </div>
      </div>
    </div>
  </div>
  <% /* "Confirm Delete Thing" Modal  - What I came up with*/%>

 <!--  <modal class = "" v-if="confirmDeleteThingModelOpen">
      <div class="modal-header">
          <span class="modal-title">Remove this item?</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span>&times;</span>
          </button>
      </div>
      <div class="modal-body">  
        <p>Are you sure you want to remove this thing?</p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">
          Cancel
        </button>
        <button class = "btn btn-danger ml-1">
           Remove
        </button>
      </div>  
     

    </modal> -->
    <% /* "Confirm Delete Thing" Modal  - from the tutorial*/%>
    <modal v-if="confirmDeleteThingModelOpen && selectedThing" v-cloak key="delete" @close="closeDeleteThingModal()">
      <div class="modal-header">
        <h5 class="modal-title">Remove this item?
        <button type = "button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times</span>
        </button>
      </h5>
      </div>
      <div class = "modal-body">
        <p>Are you sure you want to remove this {{selectedThing.label || 'item'}}?</p>
        <p>This item will no longer be available to share with friends.</p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Nevermind</button>
        <button type="submit" class="btn btn-danger ml-1">Remove</button>
      </div>
  </modal>
</div>

<%- exposeLocalsToBrowser() %>
